#chezmoi:template:left-delimiter=#{{

#{{- $bwsToken := promptStringOnce . "bws_token" "Enter Bitwarden Secrets Access Token" -}}

#{{- $personalMachine := false -}}
#{{- if eq (env "PERSONAL_MACHINE" | trim) "" -}}
	#{{- if stdinIsATTY -}}
		#{{- $personalMachine = promptBoolOnce . "is_personal" "Is this a personal machine (y/n)" -}}
	#{{- end -}}
#{{- else -}}
	#{{- $personalMachine = eq (env "PERSONAL_MACHINE" | trim) "true" -}}
#{{- end -}}

#{{- $workEmail := "" -}}
#{{- if not $personalMachine -}}
  #{{- $workEmail = promptStringOnce . "work_email" "Work email address" -}}
#{{- end -}}

git:
  autoCommit: true

edit:
  command: code

data:
  is_mac: #{{ eq .chezmoi.os "darwin" }}
  is_linux: #{{ eq .chezmoi.os "linux" }}
  is_personal: #{{ $personalMachine }}
  work_email: #{{ $workEmail | quote }}
  repoDir: ~/repos
  bws_token: #{{ $bwsToken | quote }}

hooks:
  read-source-state:
    pre:
      command: .local/share/chezmoi/.install-password-manager.sh

merge:
  command: "bash"
  args:
    - "-c"
    - "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}"
