# .bash_profile

# Get the aliases and functions
if [ -f ~/.bashrc ]; then
	. ~/.bashrc
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ]; then
	PATH="$HOME/.local/bin:$PATH"
fi
export PATH

# enable homebrew shell usage
{{ if .is_mac -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{- else if .is_linux -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# enable oh-my-posh
if command -v oh-my-posh &> /dev/null; then
	eval "$(oh-my-posh init bash --config 'https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/agnoster.minimal.omp.json')"
fi

# enable bash_completion
[[ -r "$HOMEBREW_PREFIX/etc/profile.d/bash_completion.sh" ]] && . "$HOMEBREW_PREFIX/etc/profile.d/bash_completion.sh"

# Start ssh-agent to store SSH keys
eval "$(ssh-agent -s)"
ssh-add  ~/.ssh/id_ed25519
